$headerHeight: 80px;
$logoHeight:60px;
$headerGray:#ebedee;
.appHeader{
    background-color: rgba(255,255,255,0.91);
    height: $headerHeight;
    border-bottom: 1px solid $headerGray;
}

.appContent{
    background: white;
}

.appFooter{
    text-align: center;
}